/*-----------RESET-----------*/
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p,
a, img, section, article, footer, header, nav {
  margin : 0 ;
  padding : 0 ;
  border : 0 ;
}
body {
  font-family: lato, sans-serif;
  font-size: 1em;
  line-height:1;
  height: 100%;
  width: 100%;
}
h2, h3, h4, h5, h6, p {
  margin-bottom: 0.5em;
}
ol, ul {
	list-style: none;
}
a , a:hover, a:active {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}
div {
  box-sizing: border-box;
}
img {
  border: none;
}
.img-round {
  border-radius: 7px;
}
.img-circle {
  border-radius: 50%;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
/*-----------NAV-----------*/
.main_nav {
    width: 100%;
}
.vert-nav {
    width: 100%;
    position: absolute;
    display: flex;
    margin: 0;
    padding: 0;
}
.vert-nav li {
    flex: 1;
}
.vert-nav li a {
    height: 50px;
    line-height: 50px;
    color: #fff;
    background-color: #2f3036;
    display: flex;
    justify-content: center;
    margin-bottom: 1px;
}
.nav-cat:hover a {
    background-color: #aaaaaa;
    color: black;
}
/*Pour avoir un menu déroulant cliquable : indenter une ul class="hidden" dans li class="vis-a-nav"*/
.nav-cat:hover ul a {
    background-color: #aaaaaa;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
}
/*Style liens menu déroulant survolés*/
.nav-cat:hover ul a:hover {
    background-color: #e2575e;
}
/*Cache menu déroulant*/
.hid_ul {
    display: none;
}
/*Affiche menu déroulant*/
ul li a:hover+.hid_ul, .hid_ul:hover {
    display: block;
    padding: 0;
}
/*Bouton menu responsif--Ajoutez un <label for="show-menu" class="show-menu"> & <input type="checkbox" id="show-menu" role="button"> dans votre DOM*/
input[type=checkbox], .show-menu {
    display: none;
}
.show-menu {
    color: #fff;
    background-color: #2f3036;
    text-align: center;
    padding: 10px 0;
}
input[type=checkbox]:checked~.vert-nav {
    display: block;
}
/*-----MEDIA QUERIES-----*/
@media screen and (max-width: 760px) {
    .nav-cat, .nav-cat a {
        width: 100%;
    }
    .show-menu {
        display: block;
    }
    .vert-nav {
        display: none;
    }
}

/*-------------------------------------------------------------------------------------------
------------------------------------------PARTIE OUTILS--------------------------------------*/

.no-mg {
	margin: 0;
}

.mg-s { /*------------------------MARGIN*/
	margin: 0.5%;
}

.mg-m {
	margin: 2%;
}

.mg-l {
	margin: 7%;
}

.mg-xl {
	margin: 15%;
}

.mgt-s {/*--------------------------MARGIN TOP*/
	margin-top: 0.5%;
}

.mgt-m {
	margin-top: 2%;
}

.mgt-l {
	margin-top: 5%;
}

.mgt-xl {
	margin-top: 10%;
}

.mgb-s {/*--------------------------MARGIN BOTTOM*/
	margin-bottom: 0.5%;
}

.mgb-m {
	margin-bottom: 2%;
}

.mgb-l {
	margin-bottom: 5%;
}

.mgb-xl {
	margin-bottom: 10%;
}

.mgl-s {/*---------------------------MARGIN LEFT*/
	margin-left: 0.5%;
}

.mgl-m {
	margin-left: 2%;
}

.mgl-l {
	margin-left: 5%;
}

.mgl-xl {
	margin-left: 10%;
}

.mgr-s {/*----------------------------MARGIN RIGHT*/
	margin-right: 0.5%;
}

.mgr-m {
	margin-right: 2%;
}

.mgr-l {
	margin-right: 5%;
}

.mgr-xl {
	margin-right: 10%;
}

.pdg-s { /*----------------------------PADDING*/
	padding: 0.5%;
}

.pdg-m {
	padding: 2%;
}

.pdg-l {
	padding: 4%;
}

.pdgt-s { /*----------------------------PADDING TOP*/
	padding-top: 0.5%;
}

.pdgt-m {
	padding-top: 2%;
}

.pdgt-l {
	padding-top: 4%;
}

.pdgb-s { /*----------------------------PADDING BOTTOM*/
	padding-bottom: 0.5%;
}

.pdgb-m {
	padding-bottom: 2%;
}

.pdgb-l {
	padding-bottom: 4%;
}

.pdgl-s { /*------------------------------PADDING LEFT*/
	padding-left: 0.5%;
}

.pdgl-m {
	padding-left: 2%;
}

.pdgl-l {
	padding-left: 4%;
}

.pdgr-s { /*------------------------------PADDING RIGHT*/
	padding-right: 0.5%;
}

.pdgr-m {
	padding-right: 2%;
}

.pdgr-l {
	padding-right: 4%;
}

.wid-xl { /*------------------------------WIDTH*/
	width: 100%;
}

.wid-l {
	width: 70%;
}

.wid-m {
	width: 50%;
}

.wid-s {
	width: 30%;
}

.bord-sol { /*-----------------------------BORDERS*/
	border: 2px solid black;
}

.bord-dot {
	border: 2px dotted black;
}

.bord-dash {
	border: 2px dashed black;
}

.bord-in {
	border: 2px inset black;
}

.bord-out {
	border: 2px outset black;
}

h1 { /*---------------------------------TITRES*/
	font-size: 5em;
	font-family: sans-serif;
}

h2 {
	font-size: 2em;
	font-family: sans-serif;
}

h3 {
	font-size: 1.5em;
	font-family: sans-serif;
}

h4 {
	font-size: 1em;
	font-family: sans-serif;
}

.butsquare { /*-----------------------BOUTONS*/
	border-radius: 0%;
	padding: 1% 1.5% 1% 1.5%;
	border: 2px solid black;
	background-color: transparent;
	color: black;
}

.butsquare:hover {
	border-radius: 0%;
	padding: 1% 1.5% 1% 1.5%;
	border: 2px solid black;
	background-color: blue;
	color: white;
}


.butround {
	border-radius: 10%;
	padding: 1% 1.5% 1% 1.5%;
	border: 2px solid black;
	background-color: transparent;
	color: black;
}

.butround:hover {
	border-radius: 0%;
	padding: 1% 1.5% 1% 1.5%;
	border: 2px solid black;
	background-color: blue;
	color: white;
}

.txt-right { /*----------------------TEXTE*/
	text-align: right;
}

.txt-center {
	text-align: center;
}

.txt-left {
	text-align: left;
}

.txt-just {
	text-align: justify;
}

.txt-lowcase {
 text-transform: lowercase;
}
.txt-upcase {
 text-transform: uppercase;
}

.txt-underline {
  text-decoration: underline;
}

.img-round { /*-------------------------IMAGES*/
	border-radius: 50px;
}

/*------------------------------------------------------FIN PARTIE OUTILS-----------------------------------
------------------------------------------------------------------------------------------------------------*/

/*-------------------Début de la grid----------------------*/
* {
  margin: 0;

}
img {
  width: 100%;
 }
/*Parent*/
.wrapper {
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  min-height: 100vh /*462px*/;
}
/*Child*/
.row {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-direction: wrap;
  -ms-flex-direction: wrap;
  margin: 2vh /*10px*/;
}
/*Grand-child*/
.col {
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;

  /*separation*/
  padding: 2vh/*10px*/;
  margin: 2vh/*10px*/;/*le plus important*/
}
/*Optionnal*/
.col {
  color: white;
  background-color: pink;
}
@media only screen and (min-width:376px) and (max-width:768px) {
  .row {
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
  }
}
@media screen and (max-width: 375px) {
  .row {
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
  }
  .col {
    flex: 1 1 40%;
    -webkit-flex: 1 1 40%;
    -ms-flex: 1 1 40%;
  }
}
/*--------------------Fin de la grid-------------------------------*/
/*-------------GRID +----------*/
body {
	margin:0;
}

*{
	text-decoration: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.header-horizontal {
	position: relative;
	display: flex;
	margin-bottom: 10px;
	height: 67px;
	background-color: blue;
}
.header-vertical {
	position: fixed;
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: blue;
}
.navbar-default {
	display: flex;
	align-items: center;
	background-color: #3c3a3a;
	height: 100%;
	width: auto;
}
.header-vertical .navbar-default {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 30px 0;
}
.header-vertical .navbar-default li {
	flex: 1;
}
.header-vertical + .container-column {
	width: 100%;
	margin-left: 13%;
}
.navbar-default li a{
	padding: 25px;
	width: auto;
	text-align: center;
	color: white;
}
.navbar-default li {
	text-align: center;
}
.navbar-default li:hover a{
	background-color: black;
	transition: background-color 0.5s;
}
.navbar-default li:active a{
	background-color: green;
}
.nav-top-fix {
  position: fixed;
}
.navbar-center {
	justify-content: center;
}
.navbar-large-white {
	width: 100%;
}
.navbar-small-black {
	background-color: black;
}
.navbar-large-black {
	width: 100%;
	color: white;
	background-color: black;
}
.navbar-large-white li,
.navbar-large-black li {
	flex: 1;
}
.navbar-large-black li a,
.navbar-small-black li a {
	color: white;
}
.navbar-large-black li:hover a,
.navbar-small-black li:hover a {
	color: white;
	background-color: grey;
	transition: background-color 0.5s, color 0.5s;
}
.navbar-large-black li:active a,
.navbar-small-black li:active a {
	background-color: blue;
}
.navbar-large-white li a,
.navbar-small-white li a {
	color: black;
	background-color: white;
}
.navbar-large-white li:hover a,
.navbar-small-white li:hover a {
	color: white;
	background-color: black;
	transition: background-color 0.5s, color 0.5s ;
}
.navbar-large-white li:active a,
.navbar-small-white li:active a {
	background-color: blue;
}
.list {
	position: relative;
    display: inline-block;
}
.list a {
	display: inline-block;
}
.list:hover .drop-list {
	display: inline-block;
	box-shadow: 2px 8px 16px 5px rgba(0,0,0,0.2);
}

li.list .drop-list a {
	display: block;
	padding: 15px;
	text-align: left;
}
.navbar-large-white .list .drop-list a,
.navbar-small-white .list .drop-list a {
	color: black;
	background-color: white;
}
.navbar-large-white .list .drop-list a:hover,
.navbar-small-white .list .drop-list a:hover {
	color: white;
	background-color: black;
	transition: background-color 0.5s, color 0.5s ;
}
.navbar-large-black .list .drop-list a,
.navbar-small-black .list .drop-list a {
	color: white;
	background-color: black;
}
.navbar-large-black .list .drop-list a:hover,
.navbar-small-black .list .drop-list a:hover {
	color: white;
	background-color: grey;
	transition: background-color 0.5s;
}
.drop-list {
	display: none;
	position: absolute;
	min-width: 160px;
}

.container-column {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	margin: 0 50px;
}
.container {
	display: flex;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.row {
	display: flex;
	width: 100%;
}
.col-beauty {
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 1px 1px 5px black;
	background: radial-gradient(circle, white , #eee 40%, #ddd 100%);
	padding: 10px;
	height: 400px;
}
.col-1 {
	flex: 1;
	margin: 5px;
}
.col-2 {
	flex: 2;
	margin: 5px;
}
.col-3 {
	flex: 3;
	margin: 5px;
}
.col-4 {
	flex: 4;
	margin: 5px;
}
.col-5 {
	flex: 5;
	margin: 5px;
}
.col-marg-1 {
	margin-left: 20%;
}
.col-marg-2 {
	margin-left: 40%;
}
.col-marg-3 {
	margin-left: 60%;
}
.col-marg-4 {
	margin-left: 80%;
}
.col-marg-5 {
	margin-left: 100%;
}
.pagination {
	display: flex;
	margin: 10px auto;
	border-radius: 4px;
	width: auto;
}
.pagination > li {
  display: block-inline;
}
.pagination > li > a {
	padding: 6px 12px;
	color: red;
	background-color: #fff;
    border: 1px solid #ddd;
	text-shadow: 1px 1px 2px red;
}
.pagination > li >a:hover
 {
	color: #23527c;
	background-color: #eee;
	border-color: #ddd;
}
.pagination > li >a:active {

}

@media screen and (max-width: 800px) {

	.pagination > li > a {
		display: flex;
	  display: -webkit-flex;
		display: -ms-flex;
		padding: 25%;
		flex-wrap: nowrap;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
	}

	.container-column, .container {
		margin: 0;
	}

}

.footlose {
	box-sizing: border-box;
	padding-top: 10px;
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 100px;
	background: #aaa;
	border: 2px solid blue;
}

.footlose > div {
	color: blue;

}
/*---------POSITIONNEMENTS-------*/
.pos_abs {
  position: absolute;
}

.pos_rtv {
  position: relative;
}

.pos_fx {
  position: fixed;
}

.pos_stat {
  position: static;
}

.btn_fx {
  position: fixed;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.flex_co {
  flex-direction: column;
}

.flex_cor {
  flex-direction: column-reverse;
}

.flex_r {
  flex-direction: row;
}

.flex_rr {
  flex-direction: row-reverse;
}

.flex_w {
  flex-wrap: wrap;
}

.flex_nw {
  flex-wrap: nowrap;
}

.zi1 {
  z-index: 1;
}

.zi2 {
  z-index: 2;
}

.zi3 {
  z-index: 3;
}

.clearf {
  overflow: auto;
}

.DIB {
  display: inline-block;
}

.italic {
  font-style: italic;
}

.oblique {
  font-style: oblique;
}

.normal {
  font-style: normal;
}

.S {
  font-size: 16px;
}

.M {
  font-size: 30px;
}

.L {
  font-size: 40px;
}
