/*Parent*/
.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh /*462px*/;
}
/*Child*/
.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 2vh /*10px*/;
}
/*Grand-child*/
.col {
  flex: 1;
  /*separation*/
  padding: 2vh/*10px*/;
  margin: 2vh/*10px*/;/*le plus important*/
}
/*Optionnal*/
.col {
  color: white;
  background-color: pink;
}
@media screen and (min-width:768px){
  .row {
    flex-direction: row;
    flex-wrap: wrap;
  }
  main .col:nth-child(1) {
    flex: 2;
  }
}
@media screen and (max-width: 500px) {
  .row {
    display: flex;
    flex-direction: column;
  }
  .col {
    flex: 1 1 40%;
  }
}
