/*Parents*/
.row {
  display: flex;
}
/*Parents*/
.col {
  flex: 1;
  /*separation*/
  padding: .6em;
  margin: .6em;/*le plus important*/
}
/*Optionnal*/
.col {
  color: pink;
  background-color: lime;
}
