/*Parents*/
.row {
  display: flex;
    margin: .6em;  
}
/*Parents*/
.col {
  flex: 1;
  /*separation*/
  padding: .6em;
  margin: .6em;/*le plus important*/
}
/*Optionnal*/
.col {
  color: white;
  background-color: pink;
}
