/*Parent*/
.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: .6em;
}
/*Child*/
.col {
  flex: 1;
  /*separation*/
  padding: .6em;
  margin: .6em;/*le plus important*/
}
/*Optionnal*/
.col {
  color: white;
  background-color: pink;
}
@media screen and {min-width}

}
@media screen and (max-width: 500px) {
  .row {
    display: flex;
    flex-direction: column;
  }
  .col {
    flex: 1 1 40%;
  }
}
