.img {
	width: 100%;
}
/* Tablet Screen Sizes */
@media only screen and (min-width: 768px) and (max-width: 959px) {
/* Resize the body */
body {min-width:767px;}

/* Resize the row */
.row {width:767px;}

/* Resize the columns */
.grid_12 {width:748px;}
.grid_9 {width:492px;}
.grid_8 {width:556px;}
.grid_6 {width:364px;}
.grid_4 {width:172px;}
.grid_3 {width:236px;}

}


/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px) and (max-width: 767px) {

/* Resize the body */
body {min-width:479px;}

/* Resize the row */
.row {width:479px;}

/* Resize the columns */
.grid_12 {width:460px;}
.grid_9, .grid_8, .grid_6 {width:225px;}
.grid_4, .grid_3 {width:225px; margin-left:0;}

/* Fix the .last issue */
.last {
margin-left:0;
margin-right:10px;}
}


/* Mobile Portrate Screen Sizes */
@media only screen and (max-width: 479px) {
/* Resize the body */
body {
	min-width:320px;
	}

/* Resize the row */
.row {width:320px;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	}

/* Resize the columns */
.grid_12, .grid_9, .grid_8, .grid_6 {width:300px; flex: 1;}
.grid_4, .grid_3 {width:300px; margin-left:0; flex: 1;}

/* Fix the .last issue */
.last {
margin-left:0;
margin-right:10px;}
}

