* {
  margin: 0;

}
img {
  width: 100%;
  box-sizing: padding-box;
}
/*Parent*/
.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh /*462px*/;
}
/*Child*/
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2vh /*10px*/;
}
/*Grand-child*/
.col {
  flex: 1;
  /*separation*/
  padding: 2vh/*10px*/;
  margin: 2vh/*10px*/;/*le plus important*/
}
/*Optionnal*/
.col {
  color: white;
  background-color: pink;
}

@media only screen and (min-width:376px) and (max-width:768px) {
  .row {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 375px) {
  .row {
    display: flex;
    flex-direction: column;
  }
  .col {
    flex: 1 1 40%;
  }
}
