#main_nav {
    width: 100%;
}
.vertical_nav {
    list-style-type: none;
    width: 100%;
    position: absolute;
    display: flex;
    margin: 0;
    padding: 0;
}
.vertical_nav li {
    flex: 1;
}
li a {
    height: 50px;
    line-height: 50px;
    color: #fff;
    background-color: #2f3036;
    display: flex;
    justify-content: center;
}
li:hover a {
    background-color: #aaaaaa;
    color: black;
}
/*Liens Toggle*/
li:hover ul a {
    background-color: #aaaaaa;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
}
/*Hover liens Toggle*/
li:hover ul a:hover {
    background-color: #e2575e;
}
/*Cache liens Toggle*/
li ul {
    display: none;
}
/*Permet affichage liens Toggle*/
ul li a:hover+.hidden, .hidden:hover {
    display: block;
    padding: 0;
}
/*Bouton menu responsif--Ajoutez un <label for="show-menu" class="show-menu"> & <input type="checkbox" id="show-menu" role="button"> dans votre DOM*/
input[type=checkbox], .show-menu {
    display: none;
}
.show-menu {
    color: #fff;
    background-color: #2f3036;
    text-align: center;
    padding: 10px 0;
}
input[type=checkbox]:checked~.menu {
    display: block;
}
/*-----MEDIA QUERIES-----*/
@media screen and (max-width: 760px) {
    ul {
        position: static;
        display: none;
    }
    li {
        margin-bottom: 1px;
    }
    ul li, li a {
        width: 100%;
    }
    .show-menu {
        display: block;
    }
    .menu {
        display: none;
    }
}
